.carousel-child {
	min-height: 100vh;
	width: 100vw;
	background-color: #ffaaad;
	padding-top: 2em;
	z-index: 0;
}

.drama-heading {
	margin: 0 0 0 1em;
	font-size: 400%;
}

.dq-lyrics-container {
	display: flex;
	max-width: 100vw;
	align-items: center;
	justify-content: space-around;
	margin: 0em 2em 0 2em;
}

.machine-image {
	max-width: 20%;
}

.machine-container {
	display: contents;
}

.dq-lyrics {
	max-width: 30%;
	font-size: 170%;
	/*color: #f6a4a6;*/
}

.credits {
	font-size: 80%;
}

.line {
	margin: 0;
}

.verse-drama {
	margin-top: 0.8em;
}

.verse {
	margin-top: 1em;
}

@media (max-width: 762px) {
	.dq-lyrics-container {
		flex-direction: column;
		margin: 0;
	}

	.machine-image {
		max-width: 50%;
	}

	.machine-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin-top: 1em;
	}

	.arcade-container {
		flex-direction: column;
	}

	.dq-lyrics {
		max-width: 90%;
	}

	.drama-heading {
		margin-left: 1.7em;
	}
}

@media (max-width: 500px) {
	.dq-lyrics-container {
		align-items: baseline;
	}

	.left-padding {
		padding-left: 1.2em;
	}

	.drama-heading {
		margin-left: 0.2em;
	}
}
