.intro-container {
	min-height: 100vh;
	width: 100vw;
	/*background-color: #e8a5a5;*/
	/*background-color: #f6a4a6;*/
	background-color: #efa4a6;
	display: flex;
	justify-content: center;
	padding: 1em 0;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(89, 89, 89, 0.5);
	-moz-box-shadow: 0px 0px 7px 0px rgba(89, 89, 89, 0.5);
	box-shadow: 0px 0px 7px 0px rgba(89, 89, 89, 0.5);
	z-index: 0;
}

.arcade-container {
	display: flex;
	max-width: 100vw;
	align-items: center;
	justify-content: space-around;
	margin: 0em 2em 0 2em;
}

.acknowledgments {
	font-size: 150%;
	width: 30%;
}

@media (max-width: 1000px) {
	.arcade-container {
		flex-direction: column;
	}

	.acknowledgments {
		width: 80%;
	}
}

.intro-heading {
	margin: 1em 0 0 2em;
}

.front-view-image {
	max-height: 100vh;
}

.button-hover {
	position: absolute;
	cursor: pointer;
	z-index: 1;
}

.none {
	display: none;
}

.rose-link {
	cursor: pointer;
	margin-left: 0.3em;
	width: 20px;
}

.platform-link {
	width: 20px;
	margin-left: 0.3em;
	cursor: pointer;
}
