.intro-container {
	min-height: 100vh;
	width: 100vw;
	background-color: #e8a5a5;
	display: flex;
	justify-content: center;
}

.intro-heading {
	margin: 1em 0 0 2em;
}

.front-view-image {
	max-height: 100vh;
}

.button-hover {
	position: absolute;
	cursor: pointer;
	z-index: 1;
}

.none {
	display: none;
}

.pause {
	width: 30px;
	transform: translate(15.6em, -5.9em);
}

.play {
	width: 49px;
	transform: translate(18.6em, -6em);
}

.next {
	width: 49px;
	transform: translate(21.3em, -6em);
}
