.depends-container {
	min-height: 100vh;
	width: 100vw;
	background-color: #fcd1d3;
}

.depends-heading {
	margin: 1em 0 0 2em;
}

.lyrics-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
