.header-title {
	color: #e3e8ef;
	margin-bottom: 0;
	text-shadow: 0px -1px 7px rgba(150, 150, 150, 1);
}

.large {
	font-size: 450%;
}

.medium {
	font-size: 200%;
}

.video-container {
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.video-container video {
	min-width: 100vw;
	min-height: 100vh;

	width: auto;
	height: auto;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.absolute {
	position: absolute;
	margin: auto;
	top: 30%;
	width: 100%;
	text-align: center;
}

.title-containter {
	display: flex;
	flex-direction: column;
	align-items: center;
}
