/*p {
	color: black;
	margin: 0;
}*/

.i-miss-summer-container {
	font-family: "Roslindale", monospace;
}

@font-face {
	font-family: "Roslindale";
	src: url("../../fonts/RoslindaleDisplayCondensed-Bold.woff") format("woff");
}

.row {
	display: flex;
}

@media (max-width: 850px) {
	.row {
		flex-direction: column;
	}
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.f1 {
	flex: 1;
}

.square {
	min-width: 10em;
	min-height: 10em;
	display: flex;
	flex-direction: column;
	margin-right: 2em;
}

.second-square {
	margin-top: 3em;
}

.ims-image {
	/* position: absolute; */
	max-width: 400px;
	max-height: 450px;
}

.big {
	max-width: 500px;
}
