.gallery-container {
	min-height: 100vh;
	background-color: #009bff;
}

.viewed-container {
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: space-between;
	flex-wrap: wrap;
}

.stack-container {
	margin-top: 5em;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.unviewed {
	position: absolute;
	cursor: pointer;
}

.viewed {
	animation-duration: 0.5s;
	animation-name: enter;
}

@keyframes enter {
	from {
		transform: translate(0, -10vh);
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.polaroid {
	background-color: white;
	max-height: 40vh;
	margin: 1em;
	padding: 1em 1em 4em 1em;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

@media (max-width: 746px) {
	.polaroid {
		height: 35vh;
	}
}

.polaroid-exit {
	animation-duration: 1s;
	animation-name: slideout;
}

@keyframes slideout {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: translate(100vw, -60vh) rotate(-180deg);
	}
}

.heading {
	font-size: 400%;
	color: white;
	margin: 0.5em 0 0 1em;
}
