body {
	margin: 0;
	padding: 0;
	font-family: "BeyondInfinity", monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@font-face {
	font-family: "BeyondInfinity";
	src: url("./fonts/BeyondInfinity.ttf") format("truetype"),
		url("./fonts/FUTRFW.TTF") format("truetype");
}
